*,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

h1 {
  padding: 20px 10px;
  text-align: left;
}

.scores h2 {
  padding: 20px 0;
}

#form h2 {
  padding: 25px 0;
}

.flex {
  display: flex;
}

.main {
  align-items: center;
  justify-content: space-around;
  margin: 120px 170px;
}

#board {
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 30px;
}

#board li,
.input {
  padding: 10px;
}

#board li:nth-child(even) {
  background-color: gray;
}

form {
  flex-direction: column;
  text-align: center;
}

.scores {
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 45%;
}

.input {
  margin-bottom: 10px;
}

.submit {
  justify-content: flex-end;
}

#submitBtn,
#refreshBtn {
  margin: 10px;
  padding: 8px;
  border-radius: 6px;
  width: 100px;
}
