*,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: repeating-linear-gradient(90deg, #1b1b1e, #1b1b1e 169px, #212123 169px, #212123 170px);
  color: #fff;
}

h1 {
  padding: 10px;
  text-align: left;
  font-size: 40px;
  background-color: #db4747;
}

h2 {
  font-size: 30px;
}

.scores h2 {
  padding: 20px 0;
}

#formCon h2 {
  padding: 25px 0 16px 0;
}

.flex {
  display: flex;
}

.main {
  justify-content: space-around;
  margin: 50px 170px;
}

#board {
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 30px;
}

#board li {
  font-size: 20px;
}

#board li,
.input {
  padding: 10px;
}

#board li:nth-child(odd) {
  background-color: #212123;
}

#board li:nth-child(even) {
  background-color: #fc7878;
  color: black;
}

#form {
  flex-direction: column;
  text-align: center;
}

.scores {
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 45%;
}

.input {
  margin-bottom: 20px;
}

.submit {
  justify-content: flex-end;
}

#submitBtn,
#refreshBtn {
  margin: 10px;
  border: none;
  border-radius: 0.25rem;
  width: 100px;
  background-color: #db4747;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

#submitBtn:hover,
#refreshBtn:hover {
  background-color: rgb(185, 46, 46);
}

footer {
  background-color: #db4747;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
